*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #75F2DA 0%, rgba(25, 191, 253, 0.78) 124.38%);
    /* height: 2000px; */
}

/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1920px) {
    .container {
    width: 1850px;
    }
}


.container{
position: relative;
max-width: 100%;
}
@media (max-width:1920px){
.container{
    max-width: 100%;
}
}

.container .span{
    width: 1150px;
    height: 820px;
    top: 750%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    margin: auto;
    position: absolute;
    background: rgba(254, 254, 254, 0.24);
    backdrop-filter: blur(2px); 
    border-radius: 32px;
    z-index: -1;
}


@media (max-width:767px){
    .container .span{
        top: 750%;
    }
    }


    @media(max-width:1150px)
    {
        .container .span{
            max-width: 95%;
        }
    }
.span .imag{
    display: flex;
    justify-content: center;
    align-items: center;

}
.span .imag img{
    margin-top: 130px;
}

.info .heading h3{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;  
    color:#00507C;
    text-transform: capitalize;

}

.info .heading p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 80, 124, 0.81);
}

.userInput input[type=text]{
    width: 50px;
    height: 50px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    text-align: center;
}

.userInput{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.cont{
    display: flex;
    align-items: center;
    /* margin-left: 60px; */
    background-color: #ffffff;
    width: 100%;
    padding-left: 40px;
    z-index: 1;
}

.cont .text{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #1BB3FD;
    font-family: 'Signika SC';
    font-style: normal;
    text-transform: uppercase;
}


.cont .text .head span{
    color: #75F2DA;
}

.span .btn{
    position: absolute;
    width: 140px;
    height: 39px;
    border: none;
    border-radius: 10px;
    left: 80%;
    bottom: 140px;
    border: 1px solid #00507C;
    transition: 0.7s;
    cursor: pointer;
}

.span .btn a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    color: #00507C;
}

.btn:hover{
    background: linear-gradient(90deg, #75F2DA 0%, rgba(25, 191, 253, 0.78) 124.38%);

}


@media (max-width:767px){
    .span .btn{
        left: 35%;
    }
    }